@import url(http://fonts.googleapis.com/css?family=Arvo:400,700);

body {
  text-align: center;
  background-image: url("http://wp.production.patheos.com/blogs/slacktivist/files/2014/11/2169basketball_pickup_31.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.nav{
  font-family: 'Arvo', serif;
  font-weight: 400;
  font-size: 12pt;
  color: #FFAD5C;
}

#sign_in{
  float: right;
  color: whitesmoke;
}


a {
  color: #FFAD5C;
}

div {
  background-color: rgba(255, 255, 255, 0.9);;
  font-family: 'Arvo', serif;
  font-weight: 400;
  margin-left: 17%;
  margin-right: 20%;
  border-radius: 15px 15px 15px 15px;
  padding: 5px;
}

h2 {
  font-family: 'Arvo', serif;
  font-weight: 400;
  color: #FFAD5C;
  text-shadow: 1px 1px 1px black;
  margin-top: 0;
}
h3 {
  font-family: chalkduster;
  font-weight: 400;
  font-size: 25pt;
  color: #FFAD5C;
  text-shadow: 1px 1px 1px whitesmoke;
}

.submit_button {
  border-radius: 15px 15px 15px 15px;
  font-family: 'Arvo', serif;
  font-weight: 400;
  font-size: 12pt;
  background-color: whitesmoke;
  margin-bottom: 3%;
}


#Thank_you{
  display: none;
}
