@import url(http://fonts.googleapis.com/css?family=Arvo:400,700);


body {
  background-image: url("https://rhspta.files.wordpress.com/2012/09/ultimate-frisbee09.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.main_title {
  font-family: chalkduster;
  font-weight: 700;
  font-size: 50pt;
  color: #FFAD5C;
  text-shadow: 1px 1px 1px whitesmoke;
}

h3 {
  font-family: chalkduster;
  font-weight: 400;
  font-size: 20pt;
  color: #FFAD5C;
  text-shadow: 1px 1px 1px whitesmoke;
  margin-bottom: 1px;
}

.logo {
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 0%;
}

#back_button  {
    font-family: 'Arvo', serif;
    font-weight: 400;
    color: whitesmoke;
    padding: 5px 1px 5px 1px;
    /*display: inline-block;*/
    /*float: right;*/
    border-radius: 5px 5px 5px 5px;
    margin-top: 0%;
  }

.signORlogout{
  float: right;
  display: block;
}

#maps-canvas{
  height: 400px;
  width: 600px;
  float: right;
  margin-bottom: 25%;
}
