@import url(http://fonts.googleapis.com/css?family=Arvo:400,700);


body {
  background-image: url("https://rhspta.files.wordpress.com/2012/09/ultimate-frisbee09.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.main_title {
  font-family: 'Arvo', serif;
  font-weight: 700;
  font-size: 50pt;
  color: #993333;
  text-shadow: 1px 1px 1px #A34747;
}

h3 {
  font-family: 'Arvo', serif;
  font-weight: 400;
  color: #993333;
  text-shadow: 1px 1px 1px #A34747;
  margin-bottom: 1px;
}

.logo {
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 0%;
}
