<!DOCTYPE html>
<html>
  <head>
    <title> The Pickup </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css"  href="css-templates/about.css"></link>
  </head>
  <body>
    <ul class="nav nav-tabs">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/added"> Add a Location to Our Database! </a></li>
      <li><a href="/about"> About </a></li>
    </ul>

    <h4 class="signORlogout" align = right> {{signORlogout}} </h4> <br />
    <br /> <img class="logo" height="180" src="images/imageedit_2_5121784050.gif"></img>

    <div>
      <h1> about the app </h1>
      <br />
      <div class="team">
        <h1> about the developers </h1>
      <div>
    </div>

  </body>
</html>
