<!DOCTYPE html>
<html>
  <head>
    <title> The Pickup </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css"  href="css-templates/about.css"></link>
  </head>
  <body>
    <ul class="nav nav-tabs">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/added"> Add a Location to Our Database! </a></li>
      <li><a href="/about"> About </a></li>
      <li> {{signORlogout}} </li>
    </ul>

    <h4 class="signORlogout" align = right> {{signORlogout}} </h4> <br />
    <br /> <img class="logo" height="180" src="images/imageedit_2_5121784050.gif"></img>

    <div class="about_descript">
      <h1> About The Pickup </h1>
      <p> We created this app as a part of the CCSI project. After struggling to come up with an idea, Stephen, a Google Software Engineer, helped us realize that we had something in common. That commonality was our love for playing sports and the spontaniety for when we would play. We often struggle to find places where we can play (that are also free), and this app not only locates a place but also allows users to add their own places common search engines won't find. We hope this app helps when you want to play basketball, ultimate frisbee, or whatever sport you want to play. </p>
    </div>

    <br />

    <div id="team">
      <h1> The Team </h1>
      <div class="member">
        <h3> Nazir Middleton </h3>
          <p> Nazir is from Houston </p>
      </div>
      <div class="member">
        <h3> Yulissa Arroyo </h3>
          <p> Yulissa is from Humboldt Park in Chicago. She loves to play Ultimate and looks forward to playing in college, with Barnard/Columbia in New York City. She hopes to bring social justice to this world using tech and computer science. </p>
      </div>
      <div class="member">
        <h3> Devang Patel </h3>
          <p> Devang was born in Chicago and went to Maine East High-School in Park Ridge. He loves to play basketball and played on the varsity team for his high school. He plans to major in computer science at Harvey Mudd, but will be attending Claremont McKenna College. If not Google, Devang hopes that he will one day work for a company that has as much of an impact on the world.  </p>
      </div>
    </div>

  </body>
</html>
