<!DOCTYPE html>
<html>
  <head>
    <title> The Pickup </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css"  href="css-templates/home.css"></link>
  </head>
  <body>
    <ul class="nav nav-tabs">
  <li class="active">
    <a href="/">Home</a>
  </li>
  <li><a href="/added"> Add a Location to Our Database! </a></li>
  <li><a href="#"> About </a></li>
</ul>
    <h4 class="signORlogout" align = right> {{signORlogout}} </h4> <br />
    <br /> <img class="logo" height="180" src="images/imageedit_2_5121784050.gif"></img>
    <div class="fixed-bg first">
      <form id="home_form" action ="/results" method="post" >
        <div>
          <h3> Pick a sport
            <select name="sport_form" id="sport_form">
              <option value="empty">  </option>
              <option value="basketball"> Basketball </option>
              <option value="ultimate"> Ultimate Frisbee </option>
              <option value="tennis"> Tennis </option>
              <option value="soccer"> Soccer </option>
              <option value="baseball"> Baseball </option>
            </select>
          </h3>
          <!-- <h3> Pick a sport
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Sport <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="#" value="basketball"> Basketball </a></li>
              <li><a href="#" value="ultimate"> Ultimate Frisbee </a></li>
              <li><a href="#" value="tennies"> Tennis </a></li>
              <li><a href="#" value="soccer"> Soccer </a></li>
            </ul>
          </div> -->

        <h3> Type your location
          <input name="location_form" type="text" ></input>
        </h3>
        <p> <input class="submit_button" type="submit" value="submit"> </p>
      </form>
      </div>

      <!-- <div class="scrolling-bg second">
        <div class="cd-container">
          <h1> Explore </h1>
          <p> Take a look at our website. Explore the courts and fields. </pd>
          </div>
      </div> -->

  </body>
</html>
