<!DOCTYPE html>
<html>
  <head>
    <title> The Pickup </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css"  href="css-templates/home.css"></link>
  </head>
  <body>
    <ul class="nav nav-tabs">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/added"> Add a Location to Our Database! </a></li>
      <li><a href="/about"> About </a></li>
    </ul>

    <h4 class="signORlogout" align = right> {{signORlogout}} </h4> <br />
    <br /> <img class="logo" height="180" src="images/imageedit_2_5121784050.gif"></img>
    <h2> Your grab and go for your favorite sports anywhere </h2>

    <div class="fixed-bg first">
      <form id="home_form" action ="/results" method="post" >
          <br />
          <h3> Pick a sport
            <select name="sport_form" id="sport_form">
              <option value="empty">  </option>
              <option value="basketball"> Basketball </option>
              <option value="ultimate"> Ultimate Frisbee </option>
              <option value="tennis"> Tennis </option>
              <option value="soccer"> Soccer </option>
              <option value="baseball"> Baseball </option>
            </select>
          </h3>
        <h3> Type your location
          <div class="form-group"><p><input class="form-control" name="location_form" type="text" placeholder="Address"></input></p></div>
        </h3>
        <p> <input class="btn btn-default" type="submit" value="submit"> </p>
      </form>

      <h1> Explore </h1>
      <p> Take a look at our website. Explore the courts and fields. </p>
      <br />
    </div>

  </body>
</html>
